<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>CADMEDUOS</title>
<link href="commix.css" rel="stylesheet" type="text/css">
<link href="menu.css" rel="stylesheet" type="text/css">
<script src="swf.js" type="text/javascript"></script>
<script src="nuns.js" type="text/javascript"></script>
<script type="text/javascript" src="jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="jquery.validate.js"></script>

 <!--
		
		========  Projeto apresentado a disciplina de Tecnologia Web  ====== 
		Professor:orientador: Marcos Rodrigo Sol

		Nome do aplicativo: CADMEDUOS

		Objetivo: Criar um aplicativo Web para auxiliar as pessoas 
		de como se tornar um voluntário na doação de Medula óssea

		Mara de Carvalho Silva e Wellington de Sousa
		
				
-->
<!-- Inicio do banner -->
<link rel="stylesheet" type="text/css" href="wt-rotator.css"/>
<script type="text/javascript" src="jquery.easing.1.3.min.js"></script>
<script type="text/javascript" src="jquery.wt-rotator.min.js"></script>    
<script type="text/javascript" src="preview.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="icon" type="image/x-icon" href="favicon.ico">
<meta name="description" content="CADMEDUOS - Cadastramento de Voluntários de Doação de Medula óssea"> 
<meta name="keywords" content="FAÇA PARTE DESSE TIME, SEJA UM VOLUNTÁRIO DE DOAÇÃO DE MEDULA ÓSSEA!!">
</head>
<body>
<div class="topo">
	<div class="topo_tudo">
		<div class="topo_esqd"><a href="Cidades.html"><img src="/assets/logo.png" border="0" /></a></div>
		<div class="topo_dirt">&nbsp;</div>
	</div>
</div>
<div align="center">
<table width="1000" border="0" cellpadding="0" cellspacing="0">
  <tr>
		<td height="38" width="81" bgcolor="#3D1314">&nbsp;</td>
		<td>
			 <div class="menu4">
							<ul><li><a href="Inicio.html" class="link1">Inicio</a></li></ul>
							<ul><li><a href="FaleConosco.html" class="link4">Fale Conosco</a></li></ul>
							<ul><li><a href="QuemSomos.html" class="link4">Quem Somos</a></li></ul>
							<ul><li><a href="SaibaMais.html" class="link4">Saiba Mais</a></li></ul>
			</div> 
	    </td>
  </tr>
</table>
</div><div class="corp"> 
<div class="corp_prin">
<img src="/assets/topo_prin.jpg" border="0" height="8"/><br>
<div class="container">
        <div class="wt-rotator">
            <div class="screen">
 
                <noscript><img src="/assets/bann_1.jpg"/></noscript>
            </div>
            <div class="c-panel">
                <div class="buttons">
                    <div class="prev-btn"></div>
                    <div class="play-btn"></div>    
                    <div class="next-btn"></div>               
                </div>
                <div class="thumbnails">
                    <ul>
                        <li>
                            <a href="/assets/bann_2.jpg" title="Banner 2"><img src="bann_2.jpg"/></a>
                        </li>
                        <li>
                            <a href="/assets/bann_1.jpg" title="Banner 1"><img src="bann_1.jpg"/></a>
                        </li>
                    </ul>
                </div>     
            </div>
        </div>	
</div>
 
 
 
<img src="/assets/blank.png" border="0" height="7"/><br>
<img src="/assets/topo_prin.jpg" border="0" height="8"/><br>
<div class="demo">
<table width="100%" border="0" cellpadding="0" cellspacing="0">

  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
	<td valign="top">
		<div class="titl_prin_2">
		HEMOCENTROS
		<br/>
		</div>
		<div class="texton_2">						 
			Mato Grosso do Sul – Centro de Hemoterapia e Hematologia do Mato Grosso do Sul<br/>
			Endereço: Av. Fernando Correia da Costa, 1304<br/>
			Bairro: Centro<br/>
			Cidade: Campo Grande/MS<br/>
			E-mail: hemosul@sgi.ms.gov.br<br/>
			Telefone: (67) 3312-1517<br/>		
		</div>
		<div class="linh_prin">&nbsp;</div>
		<div class="texto">FAÇA PARTE DESSE TIME, SEJA UM VOLUNTÁRIO DE DOAÇÃO DE MEDULA ÓSSEA</div>
		<img src="blank.png" border="0" height="7"/>
		<div class="linh_prin">&nbsp;</div>
		<div class="titl" align="right"><a href="SaibaMais.html" class="linkverm">CLIQUE AQUI
		E SAIBA PASSO A PASSO COMO SER UM VOLUNTARIO DE DOAÇÃO DE MEDULA ÓSSEA</a></div>
	</td>
	<td>&nbsp;</td>
	
	  <!----------------------------------------------------------------------------------------------->
			<td valign="top">
				</div><!--FECHA CLASSE DEMO-->
			</td>
		  </tr>
		</table>
		 <!----FORMATACAO DO LADO DIREITO DA TELA--->
		</div>
		<img src="rodp_prin.jpg" border="0" height="8"/>
		</div>	 
		<div class="corp_meio">&nbsp;</div>
		<div class="corp_dirt">		 
			<img src="/assets/blank.png" border="0" height="7"/><br>
			<img src="/assets/topo_dirt.jpg" border="0" height="8"/><br>			
			<div class="demo2"><br>				
				<div class="text_pgra">
					ACRE<br/><br/>
				FAÇA PARTE DESSE TIME, SEJA UM VOLUNTÁRIO DE DOAÇÃO DE MEDULA ÓSSEA!!!<br/>
				<br/>
				</div>				
			</div>
			<img src="/assets/rodp_dirt.jpg" border="0" height="8"/></br>	 
		<div><img src="/assets/blank.png" width="375" height="8" /><br/></div>
		<!---------------------------------------------------------------------------------------------->
		
	</div>
	</div>
	<!-------------------------------------------------------RODAPÉ----------------------------------------->
		<div class="rodp">
			<div class="rodp_intr">
			
				<div class="head_rodp">
					<div class="titl_rodp">CADMEDUOS</div>
					<div class="text_rodp"><a href="http://www.pucminas.br/destaques/" class="linkrodp">PucMinas</a></div>
				</div>
			
				<div class="cabc_rodp">
					<div class="titl_rodp">Medula Ossea</div>
					<div class="text_rodp"><a href="SaibaMais.html" class="linkrodp">O que é?</a></div>
					<div class="text_rodp"><a href="SaibaMais.html" class="linkrodp">Tipos</a></div>
					<div class="text_rodp"><a href="http://www.ameo.org.br/interna2.php?id=5" class="linkrodp">Leia mais - AME</a></div>
					<div class="text_rodp"><a href="http://www2.inca.gov.br/wps/wcm/connect/inca/portal/home" class="linkrodp">Leia mais - INCA</a></div>
				</div>		
			<!------------------------------------------------------------------------------------------------------>	
				<div class="gota_rodp">
				<img src="/assets/gota.png" border="0" alt="gota" />
				</div>		
				<div class="head_rodp">			
				</div>		
				<div class="cabc_rodp">				
				</div>
			</div>		
			<div class="rodp_baix">
				<div class="text_cred">	PUC 2011 © Todos os direitos reservados<br/>
				<a href="http://www.pucminas.br/destaques/" target="_blank" class="linkrodp">
				PROJETO CADMEDUOS -  Desenvolvimento Web </a>
				</div>
			</div>
  </div>
</body>
</html>