.clear      {clear:both}
.menu4 {
  padding-left: 25px;
  padding-top: 0px;
  height: 38px;
  background-image:url('fund_menu.jpg');
  text-align:left; 
  font-family: Arial, Geneva, sans-serif;
  font-size: 17px;
  color: #000;
  font-weight: bold; 
  position:relative; 
  margin:0 auto;
}
.menu4 ul {
padding:0; margin: 0; list-style-type: none;
}
.menu4 ul li {
float:left; position:relative;
}

.menu4 ul li a, .menu4 ul li a:visited { /* Menu 1  */
display:block; text-decoration:none; height:30px; color:#3b1112; padding-left:0px; padding-right: 0px; line-height:30px;
}
.link1 { width:69px; w\idth:69px; }
.link2 { width:87px; w\idth:87px; }
.link3 { width:86px; w\idth:86px; }
.link4 { width:175px; w\idth:175px; }
.link5 { width:169px; w\idth:169px; }
.link6 { width:95px; w\idth:95px; }
.link7 { width:69px; w\idth:69px; }
.link8 { width:115px; w\idth:115px; }


/*
* html .menu4 ul li a, .menu4 ul li a:visited {
width:88px; w\idth:88px;
}
.menu4 ul li:nth-child(8) a, .menu4 ul li:nth-child(8) a:visited {
width:105px; w\idth:105px;
}
*/



.menu4 ul li ul {
visibility:hidden; position:absolute; top:0; left:0; height:0; overflow:hidden;
}

/* fist line style for IE7 and non-IE browsers and the second line for IE5.5 and IE6 */
.menu4 ul li:hover a,
.menu4 ul li a:hover {
color:#c00; text-decoration:none; border:0;
}
.menu4 ul li:hover ul,
.menu4 ul li a:hover ul { /* submenu  */
visibility:visible; width:235px; height:auto; position:absolute; top:30px; left:-1px; overflow:visible;  z-index: 1000; font-size: 14px;
}

.menu_clar { background:#ECECEC; }
.menu_escu { background:#DFDFDF; }

.menu4 ul li:hover ul li a,
.menu4 ul li a:hover ul li a {
display:block; background:transparent; text-decoration:none; color:#3b1112; height:auto; line-height:1.5em; padding:5px 10px 5px 10px; width:235px; w\idth:235px;
}
.menu4 ul li:hover ul li a.drop,
.menu4 ul li a:hover ul li a.drop {
display:block; color:#000; height:auto; line-height:1.5em; padding:5px 10px 5px 35px; width:150px; w\idth:125px;
}
.menu4 ul li:hover ul li ul,
.menu4 ul li a:hover ul li a ul {
visibility:hidden; position:absolute; top:0; left:0; height:0; overflow:hidden;
}
.menu4 ul li:hover ul li a:hover,
.menu4 ul li a:hover ul li a:hover {
color:#cc0000; text-decoration:none;
}